.carousel{
    display: flex;
    background-color: none;
    width: 80%;
}

.carouselSlide{
    max-width: 500px;
   /*  padding-left: 20px; */
    /* padding-right: 20px; */
max-height: 400px;

}

.slideArrow{
    height: 6vh;
    filter: drop-shadow(1px 1px 1px black);
    color: white;
    background-color: none;

}

.slideArrow:hover{
    filter: drop-shadow(.5px .5px .5px black); 
}

.slideButton {
   background: none;
   border: none;
   
}

@media only screen and (max-width: 600px) {
    .carousel{
        width: 100%;
    }
    .carouselSlide{
        max-width: 98%;}
    
}