h1, h2 {
    font-family: "Heavy";
    color: white;
    

}

.servicesText{
    text-align: center;
}



p {
    font-family: "light";
    color: white;
    max-width: 400px;

}




.BookNowButton  {
        margin-top: 5vh;;
        background-color: #DB0B6F;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        position: relative;
        border-radius: 100px;
        max-width: 600px;
        min-height: 8vh;
        min-width: 38vh;
        text-align: center;
        font-family: "Medium";
        src: local('FuturaMedium'),
        url("../../Fonts/futura medium bt.ttf") format('truetype');
        filter: drop-shadow(5px 3px 4px black);

    }

    .BookNowButton:hover{
        filter: drop-shadow(2px 2px 1px black);
    }


   .serviceslink {
        font-family: "medium"; 
        background-color: transparent;
        color: white;
        text-align: right;
        margin:  5px auto;
        padding: 20;
        border: none;
        text-decoration: underline ;
        align-items: right;
        justify-content: right;
        vertical-align: top;
        margin-top: -2vh;
    }
    
    .serviceslink:hover{
        font-family: "Xheavy";
        color:rgb(224, 6, 90);
    }

    .subHead{
        margin-left: 30vh;
    }

    /* Add media queries for different screen sizes */
@media only screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 24px;
  }

  p {
    max-width: 100%;
  }

  .BookNowButton {
    min-height: 6vh;
    min-width: 30vh;
  }

  .serviceslink {
    margin-top: -1vh;
    text-align: center;
  }

  .subHead {
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Column {
    flex: 1 1 300px;
    margin: 10px;
  }
}
