.column {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    text-align: center;
}

@media (min-width: 900px) {
    .column {
        display: inline-flex;
        width: 50%;
    }
}

/* .column:nth-child(odd) {
    margin-right: auto;
  }

  .column:nth-child(even) {
    margin-left: auto;
  } */
