/* .signupBtn {
    background-color: #DB0B6F;
    align-items: center;
    border: 1px solid transparent;
    color: var(--offWhite);
    cursor: pointer;
    
    position: relative;
    border-radius: 100px;
    max-width: 600px;
    min-height: 80px;
    text-align: center;
}
 */