
.grid-container {
  justify-content: center;
    max-height: 100vh; 
    width: 100%;
   
   /*  overflow-y:scroll; */
    display: grid;
    grid-template-areas: 
    "card card"
    "card card"
    "card card"
    "card card"
    ;
  }
  
  
  @media (min-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-areas: 
      "card card card"
      "card card card"
      ;
    }
  
  }
  
  