.footer{
    background-color: #5A1B3F;
    height: fit-content;
    box-shadow: 0 0 100px 80px #5A1B3F ;



}

.footerLinks{
   padding-top: 8vh;
} 

.footerLink{
  /*   padding-right: 5vh;
    padding-left: 5vh; */
}

ul {
text-align: center;
padding-right: 5vh;
justify-content: center;

}

.copyright{
    font-size: x-small;
    justify-content: baseline;
   margin-top: 4vh;
}

.icon {
    color:white;
    margin-left: 1vh;
    margin-right: 1vh;
    height: 25px;
}

@media only screen and (max-width: 600px) {
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
     
    }

    ul{
     
                display: flex;
                
               
                
             
            }
        
            
        
    }



