#navlink {
    background-color: transparent;
    color: var(--offWhite);
    position: relative;
    text-align: center;
    margin:  5px auto;
    padding: 0;
}

#navlink:hover {
    color: var(--actionOrange);
}